/* Start Global */

.container
{
    width: 972px; /* I Changed it From 1200px */
    margin: auto;
}

ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

/* End Global */

/* Start Navigation bar */

.navbar
{
    height: 0;
    color: #FFF;
    position: relative;
    z-index: 2;
}

.navbar .brand
{
    float: left;
    width: 30%;
    margin-top: 5px;
}

.navbar .brand h1
{
    text-transform: uppercase;
}

.navbar .brand h1 i
{
    color: #1abc9c;
}

.navbar .links
{
    float: right;
    width: 70%;
    margin-top: 20px;
}

.navbar .links li
{
    display: inline-block;
    padding: 10px 15px;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
}

.navbar .links li a
{
    text-decoration: none;
    color: #FFF;
}

.navbar .links li.active,
.navbar .links li:hover
{
    color: #1abc9c;
    border-bottom: 2px solid #1abc9c;
}

.navbar .links li.active a,
.navbar .links li:hover a
{
    color: #1abc9c;
}

/* End Navigation bar */

/* Start Header */

.header
{
    background: url('../images/header2.jpg');
    position: relative;
}

.header p
{
    color: #888;
}

.header .overlay
{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    z-index: 1;
}

.header .bx-wrapper
{
    box-shadow: none;
    border: 0;
    background: none;
    height: 100%;
    text-align: center;
}

.header .bx-wrapper .bx-viewport
{
    height: 100% !important;

}

.header .bxslider
{
    height: 100%;
}

.header .bxslider div h2
{
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 20px;
}

.header .bxslider div h2 span
{
    color: #1abc9c;
}

.bx-wrapper .bx-pager.bx-default-pager a,
.bx-wrapper .bx-pager.bx-default-pager a,
.bx-wrapper .bx-pager.bx-default-pager a {
    background: #1abc9c;
    color: #1abc9c;
    margin-top: -100px;
}

/* End Header */

/* Start Our Services */

.services
{
    padding: 50px 20px 25px;
}

.services h3
{
    margin: 0 0 50px;
}

.services .item
{
    float: left;
    width: 33.33333%;
    margin-bottom: 20px;
}

.services .item i
{
    color: #1abc9c;
    float: left;
    width: 20%;
    margin-top: 20px;
    margin-right: 5%;
}

.services .item .info
{
    float: left;
    width: 75%;
}

.services .item .info h4
{
    color: #444;
    margin-bottom: 10px;
}

.services .item .info p
{
    margin-top: 0;
    color: #888;
}

/* End Our Services */

/* Start Our Team */

.team
{
    padding: 50px 20px 25px;
}

.team .box
{
    float: left;
}

.team .box h3
{
    margin-top: 0;
}

.team .box p
{
    margin-top: 30px;
    color: #888;
    line-height: 1.25;
}

.team .box:first-child
{
    width: 35%;
}

.team .box:not(:first-child)
{
    width: 15.25%;
    margin-left: 1%;
    position: relative;
}

.team .box:not(:first-child) .overlay
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 188, 156, 0.7);
    display: none;
}

.team .box:not(:first-child):hover .overlay
{
    display: block;
}

.team .box:not(:first-child) img
{
    width: 100%;
}

/* End Our Team */

/* Start Testimonials */

.test
{
    background: url('../images/pic05.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 200px;
    position: relative;
    text-align: center;
    padding: 80px 0;
}

.test .overlay
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    background: rgba(0, 0, 0, 0.7);
}

.test .overlay .special-h3:after 
{
    content: "";
    position: absolute;
    top: 35px;
    left: 350px;
    width: 61px;
    border: 1px solid #1abc9c;
}

.test h3
{
    margin: 75px 0;
    font-size: 28px;
}

.test q
{
    font-size: 19px;
    line-height: 1.5;
    color: #888;
    margin-bottom: 25px;
    display: block;
}

.test span
{
    color: #1abc9c;
    font-size: 18px;
    font-weight: bold;
}

.test .t-slider > div
{
    display: none;
}

.test .t-slider .active
{
    display: block;
}

/* End Testimonials */

/* Start Our Projects */

.projects
{
    padding: 50px 0;
}

.projects ul
{
    margin-top: 50px;
}

.projects ul li
{
    display: inline-block;
    border: 1px solid #1abc9c;
    color: #1abc9c;
    padding: 10px;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.projects ul li.active,
.projects ul li:hover
{
    background-color: #1abc9c;
    border: 2px solid #1abc9c;
    color: #FFF;
}

.projects .gallery
{
    margin-top: 30px;
    overflow: hidden;
}

.projects .gallery .row > div
{
    width: 32.66667%;
    height: 175px;
    margin-bottom: 10px;
    float: left;
    position: relative;
}

.projects .gallery .row > div .overlay
{    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 175px;
    background-color: rgba(26, 188, 156, 0.7);
    text-align: center;
    display: none;
}

.projects .gallery .row > div:hover .overlay,
.projects .gallery .row > div:hover .likes
{
    display: block;
}

.projects .gallery .row > div .overlay button
{
    background-color: transparent;
    border: 1px solid #000;
    cursor: pointer;
}

.projects .gallery .row > div .likes
{
    position: absolute;
    top: 150px;
    right: 0px;
    bottom: 0px;
    left: 275px;
    color: #000;
    display: none;   
}

.projects .gallery .row > div:nth-child(2)
{
    margin-right: 1%;
    margin-left: 1%;
}

.projects .gallery .row > div img
{
    width: 100%;
    height: 100%;
}

/* End Our Projects */

/* Start Footer */

.footer
{
    background-color: #232323;
    color: #6C6C6C;
    padding: 80px 0;
    overflow: hidden;
}

.footer .colm
{
    width: 25%;
    float: left;
}

.footer .colm h3
{
    color: #FFF;
    font-weight: normal;
    margin-bottom: 30px;
}

.footer .about p
{
    margin-bottom: 30px;
    line-height: 1.5;
}

.footer .about a
{
    text-decoration: none;
}

.footer .about i
{
    display: inline-block;
    color: #CCC;
    width: 40px;
    margin-bottom: 20px;
}

.footer .tags span
{
    display: inline-block;
    color: #CCC;
    border: 1px solid #6C6C6C;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.footer .recent > div
{
    overflow: hidden;
    margin-bottom: 10px;
}

.footer .recent > div img
{
    float: left;
    margin-right: 10px;
    width: 80px;
    height: 60px;
}

.footer .recent > div h4
{
    margin: 8px 0;
    color: #CCC;
    font-weight: normal;
}

.footer .blog li
{
    padding: 10px;
    border-bottom: 1px solid #6C6C6C;
    color: #CCC;
}

.footer .copy
{
    margin-top: 30px;
}

/* End Footer */

/* Start My Framework */

.clearfix
{
    clear: both;
}

.special-h3
{
    position: relative;
}

.special-h3:after
{
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 26px;
    border: 1px solid #1abc9c;
}

.separator
{
    border: 1px solid #EEE;
}

/* End Framework */